.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;

  &__btn {
    margin-right: auto;
  }

  &__title {
    margin: 15px 40px 15px 0;
    flex-grow: 1;
    margin-right: 40px;
    text-align: center;
    white-space: nowrap;
  }
  &__name {
    display: inline-block;
  }
  &__wiki {
    display: inline-block;
    margin-left: 15px;
  }
  &__img {
    width: 200px;
    height: 200px;
  }
}

.mat-list-item {
  height: 77px;
}
.skills {
  display: flex;
  flex-wrap: wrap;

  & > * {
    flex-grow: 1;
  }

  &__img {
    margin-right: 15px;
    height: 75px;
    width: 75px;
  }
}
