<div class="hero">
    <button class="hero__btn" mat-icon-button (click)="goback()">
        <mat-icon>arrow_back_ios_new</mat-icon>
    </button>
    <div class="hero__title">
        <h1 class="hero__name">{{hero.name}}</h1>
        <mat-chip-list class="hero__wiki">
            <mat-chip [disabled]='!hero.wiki'>
                <a href="{{hero.wiki}}" target="_blank">Wiki</a>
            </mat-chip>
        </mat-chip-list>
    </div>
    <img class="hero__img" src="assets/images/heroes/hero-{{hero.id}}.png" alt="hero">
</div>
<div class="skills">
    <mat-list>
        <div mat-subheader>Боевые навыки</div>
        <mat-list-item *ngFor="let skill of hero.skillsHero">
            <img class="skills__img" matTooltip="{{skill.name}}" matTooltipPosition="left" src="assets/images/heroes/hero-skills-{{hero.id}}-{{skill.id}}.png" alt="hero">
            <span>{{skill.name}}</span>
        </mat-list-item>
    </mat-list>
    <mat-list>
        <div mat-subheader>Лагерные навыки</div>
        <ng-container *ngIf="hero.hasCommonCampSkills">
            <mat-list-item *ngFor="let skill of commonCampSkills">
                <img class="skills__img" matTooltip="{{skill.name}}" matTooltipPosition="left" src="assets/images/heroes/common-skills-camp-{{skill.id}}.png" alt="hero">
                <span>{{skill.name}}</span>
            </mat-list-item>
        </ng-container>
        <mat-list-item *ngFor="let skill of hero.skillsCamp">
            <img class="skills__img" matTooltip="{{skill.name}}" matTooltipPosition="left" src="assets/images/heroes/hero-skills-camp-{{hero.id}}-{{skill.id}}.png"
                alt="hero">
            <span>{{skill.name}}</span>
        </mat-list-item>
    </mat-list>
</div>