@import "~@angular/material/theming";

@include mat-core();

$primary: mat-palette($mat-pink);
$accent: mat-palette($mat-blue-grey, A200, A100, A400);

$warn: mat-palette($mat-red);

//$theme: mat-light-theme($primary, $accent, $warn);
$theme: mat-dark-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

$background: map-get($theme, background);
.sidenav .mat-toolbar {
  background: mat-color($background, dialog);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-typography {
  font-size: 18px;
}
