<ng-container *ngIf="selectHero; else heroList">
  <mat-toolbar>
    <button mat-icon-button (click)="save()">
      <mat-icon>
        save
      </mat-icon>
    </button>
    <button mat-icon-button (click)="selectHero = null">
      <mat-icon>
        clear
      </mat-icon>
    </button>
    <button mat-icon-button (click)="delete()" [disabled]=" selectHero?.key ? 'false' : 'true'">
      <mat-icon>
        delete
      </mat-icon>
    </button>
  </mat-toolbar>
  <app-hero [(hero)]="selectHero"></app-hero>
</ng-container>

<ng-template #heroList>
  <fieldset>
    <legend>Список Героев</legend>
    <div class="hero-list">
      <app-heroes-list [heroes]=' heroes.items | async' (selected)="selected($event)"></app-heroes-list>
      <button mat-button (click)="newHero()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </fieldset>
</ng-template>
